[Unit]
Description=Cortex repository watcher
After=default.target

[Service]
Type=simple
ExecStart=__NODE__ __WATCH_SCRIPT__ start
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
